<!--index.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dartmouth Dining Menu</title>
    <link rel="stylesheet" href="../../static/styles.css"> <!-- Link to your external CSS file -->
    <script src="../../static/main.js" defer></script>
    <script src="../../static/date-script.js" defer></script>
</head>

<body style="width: 400px; height:  300px;">
    <header>
        <div class="header-container">
            <h1 class="title">Dartmouth Dining Menu</h1>
            <h2 id="menu-title"></h2>
        </div>
    </header>

    <main>
        <section class="menu-section">
            <!-- Tabs for Ma Thayer's and Collis -->
            <div class="tabs">
                <button class="tab active" id="ma-thayers-tab" data-tab="ma-thayers">Ma Thayer's</button>
                <button class="tab" id="collis-tab" data-tab="collis">Collis</button>
                <button class="tab" id="hop-tab" data-tab="hop">Hop</button>
            </div>

            <!-- Content for Ma Thayer's tab -->
            <div id="ma-thayers-content">
                <!-- <h2 class="section-title">Ma Thayer's</h2> -->
                <div id="lunch-menu">
                    <h3 class="meal-title">Lunch</h3>
                        <ul id="lunch-items" class="menu-list">
                            <li>items loading...</li>
                            <!-- lunch items will be dynamically inserted -->
                        </ul>
                </div>
                <hr>
                <div id="dinner-menu">
                    <h3 class="meal-title">Dinner</h3>
                    <ul id="dinner-items" class="menu-list">
                        <li>items loading...</li>
                        <!-- dinner items will be dynamically inserted -->
                    </ul>
                </div>
            </div>

            <!-- Content for Collis tab (initially empty) -->
            <div id="collis-content" style="display: none;">
                <!-- <h2 class="section-title">Collis</h2> -->
                <div id="collis-special">
                    <h3 class="meal-title">Collis Daily Special</h3>
                    <ul id="collis-special-items" class="menu-list">
                        <li>items loading...</li>
                    </ul>
                </div>
                <hr>
                <div id="collis-soup">
                    <h3 class="meal-title">Collis Daily Soups</h3>
                    <ul id="collis-soup-items" class="menu-list">
                        <li>items loading...</li>
                    </ul>
                </div>
            </div>

            <!-- Content for Hop tab (also initially empty)-->
            <div id="hop-content" style="display: none;">
                <div id="hop-speical">
                    <h3 class="meal-title">Hop Special</h3>
                    <ul id="hop-special-items" class="menu-list">
                        <li>items loading...</li>
                    </ul>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2023 DDS-Menu NP</p>
        </div>
    </footer>
</body>

</html>
