<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Dartmouth Dining Menu</title>
    <script src="../../static/main.js" defer></script>
    <script src="../../static/date-script.js" defer></script>

    <!-- Add any additional styles or scripts here -->
</head>

<body style="width: 400px; height: 300px;">
    <header>
        <h1>Dartmouth Dining Menu</h1>
        <h1 id="menu-title"></h1>
    </header>

    <main>
        <section>
            <h2>Ma Thayer's</h2>
            <div id="lunch-menu">
                <h3>Lunch</h3>
                <ul id="lunch-items">
                    <!-- Lunch menu items will be dynamically inserted here -->
                </ul>
            </div>

            <div id="dinner-menu">
                <h3>Dinner</h3>
                <ul id="dinner-items">
                    <!-- Dinner menu items will be dynamically inserted here -->
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 DDS-Menu Nikhil Pande</p>
    </footer>

</body>

</html>
