<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dartmouth Dining Menu</title>
    <link rel="stylesheet" href="../../static/styles.css"> <!-- Link to your external CSS file -->
    <script src="../../static/main.js" defer></script>
    <script src="../../static/date-script.js" defer></script>
</head>

<body style="width: 400px; height:  300px;">
    <header>
        <div class="header-container">
            <h1 class="title">Dartmouth Dining Menu</h1>
            <h2 id="menu-title"></h2>
        </div>
    </header>

    <main>
        <section>
            <h2 class="section-title">Ma Thayer's</h2>
            <div id="lunch-menu">
                <h3 class="meal-title">Lunch</h3>
                <ol id="lunch-items" class="menu-list">
                    <li class="load">items loading...</li>
                    <!-- Lunch menu items will be dynamically inserted here -->
                </ol>
            </div>
            <hr>
            <div id="dinner-menu">
                <h3 class="meal-title">Dinner</h3>
                <ol id="dinner-items" class="menu-list">
                    <li>items loading...</li>
                    <!-- Dinner menu items will be dynamically inserted here -->
                </ol>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2023 DDS-Menu NP</p>
        </div>
    </footer>
</body>

</html>
